a:hover {
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: #fff;
  font-family: 'futura_lt_btlight';
}
body.inicio {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  min-width: 1024px;
  padding: 0;
  z-index: 1000;
  margin-bottom: 10px;
}
.container > header {
  background-color: #79004a;
  padding: 10px;
  position: relative;
  height: 116px;
  width: auto;
  font-family: 'proxima_novasemibold';
}
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
#menu-toggle {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
}
.lenguajes {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 1000;
  padding: 5px 10px;
  background-color: #64003d;
}
.lenguajes .lenguaje {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.lenguajes a.lenguaje {
  text-decoration: none;
}
.lenguajes span.lenguaje {
  font-weight: bold;
}
nav {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
}
nav #menu {
  /*width: -moz-calc(100% - 281px);
  width: -webkit-calc(100% - 281px);
  width: -o-calc(100% - 281px);
  width: calc(100% - 281px);*/
  width: 100%;
  padding-left: 301px;  
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}
nav #menu > li {
  float: right;
  height: 116px;
  width: 18%;
  min-width: 150px;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #934977;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;  
}

nav #menu > li:hover,
nav #menu > li.active{
   width: 23%;
}

nav #menu > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 140px;
  height: 116px;
  background: url("../images/keyarts/menuback.png") repeat-x;
  display: block;
  width: 100%;
}
nav #menu > li:hover > a,
nav #menu > li.active > a {
  background: url("../images/keyarts/menuback_over.png") repeat-x;
}
nav #menu li {
  position: relative;
  list-style: none;
}
nav #menu li ul.submenu {
  display: none;
  left: 0px;
  bottom: -40px;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 9999;
  margin: 0px;
  padding-left: 0px;
}
nav #menu li ul.submenu ul.submenu {
  margin-top: -1px;
  padding-top: 0;
  left: 149px;
  top: 0px;
}
nav #menu li ul.submenu > li > a {
  background-color: #79004a;
  border-top: none;
  color: #bbb;
  display: block;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 12px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  width: 100%;
  text-align: left;
  position: relative;
}
nav #menu li ul.submenu > li > a:hover {
  color: #fff;
}
nav #menu li ul.submenu > li > a:before {
  bottom: 100%;
  right: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #79004a;
  border-width: 5px;
}
nav #menu li ul.submenu > li:last-child > a {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
nav #menu li ul.submenu > li > a.parent {
  background-image: url("../images/arrow.png");
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
nav #menu li:hover > ul.submenu {
  display: block;
}
article.inicio {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  height: 210px;
}
article.inicio .mostrarServicios {
  float: right;
  margin-top: 20px;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #79004a;
  margin-right: 10px;
  padding: 20px;
  text-align: left;
}
article.inicio .mostrarServicios a.flecha {
  font-size: 24px;
  height: 33px;
  width: 300px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  background: url("../images/keyarts/flecharesumen.png") no-repeat 264px center;
  padding: 0px;
  font-family: 'proxima_novasemibold';
  display: block;
}
article.inicio ul.servicios {
  margin: 0 auto;
  padding: 0;
  text-align: right;
  position: absolute;
  right: -100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
article.inicio ul.servicios .item {
  width: 200px;
  height: 215px;
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px;
  overflow: hidden;
}
article.inicio ul.servicios .item img {
  width: 190px;
  height: 150px;
  margin: 5px;
}
article.inicio ul.servicios .item figure {
  margin: 0px;
  width: 100%;
}
article.inicio ul.servicios .item .titulo {
  background-color: #79004a;
  color: #fff;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  margin: 0px 5px 5px;
}
article.inicio:hover ul.servicios {
  right: 10px;
}
article.inicio:hover .mostrarServicios {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
article.nosotros {
  margin: 40px 10px 10px;
  overflow: hidden;
  color: #535353;
}
article.nosotros .col-izquierda {
  width: 350px;
  float: left;
}
article.nosotros .col-derecha {
  width: calc(100% - 350px);
  float: right;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
article.servicios {
  margin: 0px 10px 10px;
  position: relative;
}
article.servicios ul.navegador {
  margin: 0px 0px 10px;
  padding: 20px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
  overflow: hidden;
  border-bottom: 1px solid #fbd7b7;
  width: 100%;
  text-align: right;
}
article.servicios ul.navegador li.item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px;
  border-left: 2px solid #808080;
  height: 20px;
}
article.servicios ul.navegador li.item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #d74934;
  -webkit-transition: all 0.5 ease-in;
  -moz-transition: all 0.5 ease-in;
  -ms-transition: all 0.5 ease-in;
  -o-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  font-family: 'proxima_novasemibold';
}
article.servicios ul.navegador li.item a:hover {
  color: #f48624;
}
article.servicios ul.navegador li.active a {
  color: #f48624;
}
article.servicios ul.navegador li.item:first-child {
  border-left: none;
}
article.servicios .servicios {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 70px 10px 10px;
  position: relative;
}
article.servicios .servicios .servicio {
  display: none;
}
article.servicios .servicios .servicio .galeria {
  height: 371px;
  width: 987px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
article.servicios .servicios .servicio .galeria > li {
  width: 900px;
  height: 350px;
}
article.servicios .servicios .servicio .galeria > li img {
  width: 100%;
  height: 100%;
}
article.servicios .servicios .servicio .galeria span.titulo-servicio {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  padding: 3px 10px;
  z-index: 1000;
  text-transform: uppercase;
  font-family: 'proxima_novasemibold';
}
article.servicios .servicios .servicio .descripcion {
  text-align: left;
}
article.servicios .servicios .servicio.active {
  display: block;
}
article.clientes {
  margin: 10px;
  padding: 0px 10px;
}
article.clientes .listado {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  width: 984px;
}
article.clientes .listado .cliente {
  border: 1px solid #d3d3d3;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 123px;
  width: 123px;
  margin: 0px;
  padding: 0px;
}
article.clientes .listado .cliente img {
  width: 100%;
  max-height: 100%;
}
article.contacto {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  text-align: left;
}
article.contacto h3.encabezadoInca {
  margin: 30px 0px 10px;
  color: #79004a;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
}
article.contacto #formulario_contacto label {
  text-transform: capitalize;
}
article.contacto #formulario_contacto .form-submit {
  background-color: #79004a;
  color: #fff;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
article.contacto #formulario_contacto .form-submit:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
article.mapas {
  position: relative;
}
article.mapas ul.mapas {
  margin: 0 auto;
  padding: 0;
}
article.mapas ul.mapas > li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
}
article.mapas ul.mapas > li > img {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  max-width: 100%;
  height: 550px;
}
article.mapas ul.mapas > li.show > img {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
article.mapas ul.mapas #mapa-fondo img {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
article.mapas .formulario {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  text-align: left;
  border: 1px solid #79004a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
article.mapas .formulario h3 {
  color: #79004a;
}
article.mapas .formulario input {
  padding: 2px;
  font-size: 16px;
  color: #79004a;
}
article.mapas .formulario .grupo-checkbox-icono input,
article.mapas .formulario .grupo-checkbox-icono img,
article.mapas .formulario .grupo-checkbox-icono span {
  display: inline-block;
  vertical-align: middle;
}
article.mapas .formulario .grupo-checkbox-icono span {
  vertical-align: top;
}
article.mapas .formulario span {
  width: 230px;
}
article.proyectos {
  padding: 10px;
}
article.proyectos .contenedorProyectos {
  /*padding: 10px 50px;
  width: 1024;*/
}
article.proyectos .controles {
  height: 50px;
  padding: 0px 50px 80px;
}

article.proyectos .controles .rango{
    position: relative;
    height: 70px;
}

article.proyectos .controles .rango .todos-los-years{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 10px;
}

article.proyectos .controles .rango input[type="checkbox"]{
    padding: 5px;
    font-size: 16px;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    background-color: #7d9432;
}

article.proyectos .controles .rango label.allYears{
    font-size: 16px;
    line-height: 16px;
    color: gray;
    text-transform: uppercase;
    padding-top: 4px;
}

article.proyectos .controles .rango label.allYears,
article.proyectos .controles .rango input[type="checkbox"]{
    display: inline-block;
    vertical-align: middle;
    height: 18px;
}


article.proyectos .controles .rango label.rangoProyectos {
  color: #e64f30;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'proxima_novasemibold';
  display: block;
  text-align: left;
}
article.proyectos .controles .combobox label {
  color: #79004a;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'proxima_novasemibold';
}
article.proyectos .controles .combobox select {
  width: 300px;
}
article.proyectos .proyecto {
  height: 350px;
  text-align: left;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}
article.proyectos .proyecto figure.imagen img {
  -webkit-box-shadow: 0 0 1px 1px rgba(100,100,100,0.8);
  -moz-box-shadow: 0 0 1px 1px rgba(100,100,100,0.8);
  -ms-box-shadow: 0 0 1px 1px rgba(100,100,100,0.8);
  -o-box-shadow: 0 0 1px 1px rgba(100,100,100,0.8);
  box-shadow: 0 0 1px 1px rgba(100,100,100,0.8);
  cursor: pointer;
}
article.proyectos .proyecto h3.titulo {
  text-transform: uppercase;
  font-size: 20px;
  color: #e64f30;
  margin: 10px 0px 0px;
  font-weight: bold;
  font-family: 'proxima_novasemibold';
}
article.proyectos .proyecto span.rango {
  font-size: 18px;
  color: #1eb98f;
  font-weight: bold;
  font-family: 'proxima_novasemibold';
}


@media all and (max-width: 700px) {
  .container nav {
    position: absolute;
    margin-top: 120px;
    width: 100%;
  }
  .container #menu-toggle {
    display: block;
  }
  .container #menu {
    display: none;
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .container #menu li {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  .container #menu > li {
    margin-top: -1px;
  }
  .container #menu > li:first-child {
    margin-top: 0;
  }
  .container #menu > li > a {
    background-color: #333;
    color: #bbb;
    display: block;
    font-size: 16px;
    line-height: 25px;
    height: 50px;
    border-bottom: none;
    padding: 12px !important;
    padding: 0;
    text-align: left;
  }
  .container #menu li:hover > a,
  .container #menu li.active > a {
    border-bottom: none;
  }
  .container #menu li > a:hover {
    background-color: #444;
  }
  .container #menu > li.parent {
    background: none !important;
    padding: 0;
  }
  .container #menu > li:hover > a {
    color: #fff !important;
  }
  .container ul.submenu {
    display: block;
    margin-top: -1px;
    margin-left: 20px;
    position: static;
    padding: 0;
    width: inherit;
  }
  .container ul.submenu > li > a.parent {
    background: #333 !important;
  }
}
