transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_azul = blue


a:hover
	text-decoration none

body
	font-size 16px
	background-color white
	font-family 'antipastoregular'
	
.container
	margin 0 auto
	text-align center
	max-width 100%
	padding 0
	z-index 1000
	margin-bottom 10px
	& > header
		background-color #79004A
		padding 10px
		position relative
		height 120px
		width auto
#logo
	position absolute
	top 10px
	left 10px
#menu-toggle
	display none
	position absolute
	top 50px
	right 30px
.lenguajes
	position absolute
	top 0px
	right 10px
	z-index 1000
	padding 5px 10px
	background-color #64003D
	& .lenguaje
		display inline-block
		vertical-align top
		margin 0px 10px
		color white
		font-size 14px
		text-transform uppercase
	& a.lenguaje
		text-decoration none
	& span.lenguaje
		font-weight bold
	
nav
	position absolute
	right 0px
	top 0px
	left 0px
	& #menu
		width calc(100% - 281px)
		float right
		box-sizing border-box
		z-index -1
		& > li
			float left
			height 120px
			width 20%
			list-style none
			box-sizing border-box
			border-left 1px solid grey
		& > li > a
			font-size 18px
			font-weight bold
			color white
			text-transform uppercase
			text-decoration none
			text-align center
			line-height 140px
			height 120px
			border-bottom 5px solid #79004A
			display block
			width 100%
			transition border-bottom .5s ease
		& > li:hover > a
		& > li.active > a	
			border-bottom 5px solid #DC8533
		& li
			position relative
			list-style none
			& ul.submenu
				display none
				left 0px
				bottom -35px
				padding-top 10px
				position absolute
				width 100%
				z-index 9999
			& ul.submenu ul.submenu
				margin-top -1px
				padding-top 0
				left 149px
				top 0px
			& ul.submenu > li > a
				background-color #79004A
				border-top none
				color #bbb
				display block
				font-size 14px
				line-height 15px
				padding 10px 12px
				transition background-color .5s ease
			& ul.submenu > li > a:hover
				background-color #DC8533 
				color #fff
			& ul.submenu > li:last-child > a
				border-radius 0 0 2px 2px
			& ul.submenu > li > a.parent
				background-image url(../images/arrow.png)
				background-size 5px 9px
				background-repeat no-repeat
				background-position 95% center
		& li:hover > ul.submenu
			display block
					

@media all and (max-width: 700px)
	.container
		& nav
			position absolute
			margin-top 120px
			width 100%
		& #menu-toggle
			display block
		& #menu
			display none
			float none
			width 100%
			padding-left 0
		& #menu li
			display block
			width 100%
			height 50px
			margin 0
			padding 0
		& #menu > li
			margin-top -1px
		& #menu > li:first-child
			margin-top 0
		& #menu > li > a
			background-color #333
			color #bbb
			display block
			font-size 16px
			line-height 25px
			height 50px
			border-bottom none
			padding 12px !important
			padding 0
			text-align left
		& #menu li:hover > a	
		& #menu li.active > a
			border-bottom none
		& #menu li > a:hover
			background-color #444 
		& #menu > li.parent
			background none !important
			padding 0
		& #menu > li:hover > a
			color #fff !important
		& ul.submenu
			display block
			margin-top -1px
			margin-left 20px
			position static
			padding 0
			width inherit
		& ul.submenu > li > a.parent
			background #333 !important